// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: ##19272d !default;
$header-bg-color: #ffffff !default;
$header-bg-color-secondary: #ffffff !default;

// Text
$section-headings-color: #30373a !default;
$body-text-color: #19272d !default;
$body-link-color: #4cabfb!default;
$blockquote-text-color: #19272d !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: ##19272d !default;
$table-border-color: ##19272d !default;
$hr-border-color: ##19272d !default;
