// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #76323F !default;
$header-bg-color: #ffffff !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #76323F !default;
$body-text-color: #666666 !default;
$body-link-color: #76323F!default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #76323F !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
